In [2]:
x = int(input())
n = int(input())
print(x**n)

10
4
10000

In [2]:
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())
area_of_rectangle = (x2 - x1) * (y2 - y1)
print(area_of_rectangle)

1
1
3
3
4

# Check Number

Given an integer n, find if n is positive, negative or 0.

If n is positive, print "Positive"

If n is negative, print "Negative"

And if n is equal to 0, print "Zero".

In [2]:
n = int(input())
if n > 0 :
    print("Positive")
elif n < 0:
    print("Negative")
else:
    print("Zero")

0
Zero

# Sum of n numbers

Problem statement
Given an integer n, find and print the sum of numbers from 1 to n.

In [3]:
n = int(input())
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i + 1
print(sum)

10
55

In [8]:
n = int(input())
sum = 0
for i in range(n+1):
    sum = sum + i
print(sum)

10
55

# Sum Of Even Numbers TILL N

Problem statement
Given a number N, print sum of all even numbers from 1 to N.

In [1]:
n = int(input())
sum = 0
i = 1
while i <= n:
    if i % 2 == 0:
        sum = sum + i
    i = i + 1
print(sum)

6
12

In [3]:
n = int(input())
sum = 0
i = 2
while i <= n:
    sum = sum + i
    i = i + 2
print(sum)

6
12

In [1]:
n = int(input())
sum = 0
for i in range(1,n+1):
    if i % 2 == 0:
        sum = sum + i
print(sum)

 6

12

# Fahrenheit to Celcius

Problem statement
Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the table.

In [2]:
s = int(input("Fahrenheit Value: " ))
e = int(input("End Fahrenheit VAlue: " ))
w = int(input("Step Size"))
f = s
while f <= e:
    c = (f - 32)*(5/9)
    print(f,"\t",int(c))
    f = f + w

Fahrenheit Value: 0
End Fahrenheit VAlue: 100
Step Size20
0 	 -17
20 	 -6
40 	 4
60 	 15
80 	 26
100 	 37

# Calculator

Problem statement
Note: Solve this question after watching the video "More on While Loop".
Write a program that performs the tasks of a simple calculator. The program should first take an integer as input and then based on that integer perform the task as given below. You should also take an integer n that would actually tell us how many times will the operations be performed.

1. If the input is 1, then 2 integers are taken from the user and their sum is printed.
2. If the input is 2, then 2 integers are taken from the user and their difference(1st number - 2nd number) is printed.
3. If the input is 3, then 2 integers are taken from the user and their product is printed.
4. If the input is 4, then 2 integers are taken from the user and the quotient obtained (on dividing 1st number by 2nd number) is printed.
5. If the input is 5, then 2 integers are taken from the user and their remainder(1st number mod 2nd number) is printed.
6. If the input is 6, then the program exits.
7. For any other input, then print "Invalid Operation".
Note: Each answer in next line.

In [2]:
while True:
    n = int(input())
    if n == 1:
        a = int(input())
        b = int(input())
        print(a+b)
    if n == 2:
        a = int(input())
        b = int(input())
        print(a - b)
    if n == 3:
        a = int(input())
        b = int(input())
        print( a * b)
    if n == 4:
        a = int(input())
        b = int(input())
        print(a //b )
    if n == 5:
        a = int(input())
        b = int(input())
        print(a % b)
    if n == 6:
        break
    if(n < 1 or n > 6):
        print("Invalid Operation")

3
1
2
2
4
4
2
2
1
3
2
5
7
Invalid Operation
6

# Reverse A Number
Problem statement
Write a program to generate the reverse of a given number N. Print the corresponding reverse number.

Note : If a number has trailing zeros, then its reverse will not include them. For e.g., reverse of 10400 will be 401 instead of 00401.

In [9]:
n = int(input())
reverse = 0
while n > 0:
    remainder = n % 10
    reverse = reverse * 10 + remainder
    n = n // 10
print(reverse)

4321
1234

# Palindrom Number

Problem statement
Check whether a given number ’n’ is a palindrome number.

Note :
Palindrome numbers are the numbers that don't change when reversed.

You don’t need to print anything. Just implement the given function.

Example:
Input: 'n' = 51415
Output: true
Explanation: On reversing, 51415 gives 51415.

In [12]:
n = int(input())
palindrom = n
reverse = 0
while n > 0:
    remainder = n % 10
    reverse = reverse * 10 + remainder
    n = n // 10
if palindrom == reverse :
    print("True")
else:
    print("False")

123
False

# Sum Of Even & Odd

Problem statement
Write a program to input an integer 'n' and print the sum of all its even digits and the sum of all its odd digits separately.



Digits mean numbers, not places! That is, if the given integer is "132456", even digits are 2, 4, and 6, and odd digits are 1, 3, and 5.

Constraints
0<= 'n' <=10000


Example :
Input: 'n' = 132456

Output: 12 9

Explanation:
The sum of even digits = 2 + 4 + 6 = 12
The sum of odd digits = 1 + 3 + 5 = 9
Constraints
0<= 'n' <=10000


Example :
Input: 'n' = 132456

Output: 12 9

Explanation:
The sum of even digits = 2 + 4 + 6 = 12
The sum of odd digits = 1 + 3 + 5 = 9
Input format :
 The first line contains an integer 'n'.
Output format :
In a single line, print two space-separated integers, first the sum of even digits and then the sum of odd digits.

In [13]:
n = int(input())
odd_sum = 0
even_sum = 0
while n > 0:
    remainder = n % 10
    if remainder % 2 == 0:
        even_sum = even_sum + remainder
    else:
        odd_sum = odd_sum + remainder
    n = n // 10 
print(even_sum, odd_sum)

132456
12 9

# NTh Fibonacci

Problem statement

Write a program to find the Nth Fibonacci number using loops.



Note :
The Fibonacci series is a sequence of numbers in which each number is the sum of the two preceding ones, usually starting with first_number  and Second_number . 


First_number and Second_number in this question will be 1 . Soo that the resultant series will be 1, 1, 2, 3, 5, 8 ...


Sample Input 1:

6


Sample Output 1:

8

Explanation

The Fibonacci sequence starts with two numbers first number is 1 and second number is also 1. The subsequent numbers are found by adding the two preceding numbers.

Therefore, the first six Fibonacci numbers are: 1, 1, 2, 3, 5, 8 . Hence, the 6th Fibonacci number is 8.

In [16]:
n = int(input())
i = 1
a = 1
b = 1
while i < n:
    c = a + b
    a = b
    b = c
    i = i + 1
print(a)

6
8

# Pattern 1

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
4444
4444
4444
4444

In [18]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        print("4", end = "")
        j = j + 1
    print()
    i = i + 1

4
4444
4444
4444
4444

# Triangle Star Pattern

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
*
**
***
****
Note : There are no spaces between the stars (*).

In [20]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j<=i:
        print("*", end = "")
        j = j + 1
    print()
    
    i = i + 1

4
*
**
***
****

# Triangle Number Pattern

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
1
22
333
4444

In [21]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print(i, end = "")
        j = j + 1
    print()
    
    i = i + 1

4
1
22
333
4444

# Reverse Number Pattern

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
1
21
321
4321

In [23]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print(i - j + 1, end = "")
        j = j + 1
    print()
    i = i + 1

4
1
21
321
4321

# Number Pattern 1

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
1
11
111
1111

In [24]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print(1, end = "")
        j = j + 1
    print()
    
    i = i + 1

4
1
11
111
1111

# Number Pattern 2

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
1
11
202
3003

In [39]:

n = int(input())
print(1)
i = 1
while i < n:
    j = 0
    while j <= i:
        if i == j or j == 0:
            print(i, end = "")
        else:
            print(0, end = "")
        j = j + 1
    print()
    i = i + 1

4
1
11
202
3003

# Number Pattern 3

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
1
11
121
1221

In [42]:
n = int(input())
print(1)
i = 1
while i < n:
    j = 0
    while j <= i:
        if j == 0 or i == j:
            print(1, end = "")
        else:
            print(2, end = "")
        j = j + 1
    print()
    
    i = i + 1

4
1
11
121
1221

# Number Pattern

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
1234
123
12
1

In [43]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n - i + 1:
        print(j, end = "")
        j = j + 1
    print()
    
    i = i + 1

4
1234
123
12
1

# Pattern 2

# Inverted Number Pattern

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
4444
333
22
1

In [47]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n - i + 1:
        print(n - i + 1, end = "")
        j = j + 1
    print()
    
    i = i + 1

4
4444
333
22
1

# Mirror Number Pattern

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4

...1
..12
.123
1234

The dots represent spaces.

In [48]:
n = int(input())
i = 1
while i <= n:
    space = 1
    while space <= n - i:
        print(" ", end = "")
        space = space + 1
    j = 1
    while j <= i:
        print(j, end = "")
        j = j + 1
    print()
    
    i = i + 1

4
   1
  12
 123
1234

# Star Pattern

Problem statement
Print the following pattern

Pattern for N = 4

...*
..***
.*****
*******


Hint
As taught in the video, you just have to modify the code so that instead of printing numbers, it should output stars ('*').
The dots represent spaces.

In [60]:
n = int(input())
i = 1
while i <= n:
    space = 1
    while space <= n - i :
        print(".", end = "")
        space = space + 1
    j = 1
    while j <= i*2 - 1:
        print("*", end = "")
        j = j + 1
    print()
    
    i = i + 1

4
...*
..***
.*****
*******

In [66]:
n = int(input())
for i in range(1, n + 1):
    for space in range(n - i ):
        print(" ", end = "")
    for j in range( i *2 - 1):
        print("*", end = "")
    print()

4
   *
  ***
 *****
*******

In [56]:
n = int(input())
i = 1
while i <= n:
    space = 1
    while space <= n - i:
        print(" ", end = "")
        space = space + 1
    j = 1
    while j <= i:
        print("*", end = "")
        j = j + 1
        
    p = i - 1
    while p >= 1:
        print("*", end = "")
        p = p - 1
    print()
    
    i = i + 1

4
   *
  ***
 *****
*******

# Pattern Triangle Of Number

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 4
...1
..232
.34543
4567654

The dots represent spaces.

In [8]:
n = int(input())
i = 1

while i <= n:
    space = 1
    while space <= n - i:
        print(" ", end = "")
        space = space + 1
    j = 1
    p = i
    while j <= i:
        print(p , end = "")
        j = j + 1
        p = p + 1
        
    p = 2*i - 2
    while p >= i:
        print(p, end = "")
        p = p - 1
    print()
    i = i + 1

 4

   1
  232
 34543
4567654

# Diamond Of Stars

Problem statement
Print the following pattern for the given number of rows.

Note: N is always odd.

..*
.***
*****
.***
..*

Pattern for N = 5

In [19]:
n = int(input())
if n % 2 != 0:
    n1 = (n + 1 )//2
    n2 = n // 2
    i = 1
    while i <= n1:
        space = 1
        while space <= n1 - i:
            print(" ", end = "")
            space = space + 1
        j = 1
        while j <= 2*i - 1:
            print("*", end = "")
            j = j + 1
        print()
        i = i + 1
    i = n2
    while i >= 1:
        space = 1
        while space <= n2 - i + 1:
            print(" ", end = "")
            space = space + 1
        j = 1
        while j <= 2*i - 1:
            print("*", end = "")
            j = j + 1

        print()

        i = i - 1

 5

  *
 ***
*****
 ***
  *

# Number Pattern

Problem statement
Print the following pattern for n number of rows.

Note: each line consist of equal number of characters + spaces. Suppose you are printing xth line for N=n. You need to print 1..x followed by (n-x) spaces, again (n-x) spaces followed by x..1

1........1
12......21
123....321
1234..4321
1234554321

In [24]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print(j, end = "")
        j = j + 1
    space = 1
    while space <= 2* n  - 2* i:
        print(".", end = "")
        space = space + 1
    j = 1
    while j <= i:
        print(i - j + 1, end = "")
        j = j + 1
        
    print()
    i = i + 1

 5

1........1
12......21
123....321
1234..4321
1234554321

# Pyramid Number Pattern

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 4
   1
  212
 32123
4321234
Input format : N (Total no. of rows)

Output format : Pattern in N lines

In [37]:
n = int(input())
i = 1
while i <= n:
    space = 1
    while space <= n - i:
        print(" ", end = "")
        space = space + 1
    j = 1
    while j <= i:
        print(i - j + 1, end = "")
        j = j + 1
    k = 2
    p = 2 * i - 2
    while p >= i:
        print(k, end = "")
        k = k + 1
        p = p - 1
    print()

    i = i + 1

 4

   1
  212
 32123
4321234

# Arrow Pattern

Problem statement
Print the following pattern for the given number of rows.

Assume N is always odd.

Note : There is space after every star. Pattern for N = 7
*
 * *
   * * *
     * * * *
   * * *
 * *
*

In [54]:
n = int(input())
if n % 2 != 0:
    n1 = (n + 1) // 2
    n2 = n // 2

    # Upper half of the diamond
    i = 1
    while i <= n1:
        space = 1
        while space <= i - 1:
            print(" ", end=" ")
            space = space + 1

        j = 1
        while j <= i:
            print("*", end=" ")
            j = j + 1

        print()
        i = i + 1

    # Lower half of the diamond
i = 1
while i <= n2:
    space = 1
    while space <= (n2 - i)  :
        print(" ", end=" ")
        space = space + 1

    j = 1
    while j <= (n2 - i + 1) :
        print("*", end=" ")
        j = j + 1

    print()
    i = i + 1

 7

*
  * *
    * * *
      * * * *
    * * *
  * *
*

# More On Loops

# Binary Pattern

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 4
1111
000
11
0
Input format : N (Total no. of rows)

Output format : Pattern in N lines

In [3]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n - i + 1:
        if i % 2 == 0:
            print("0", end = "")
        else:
            print("1", end = "")
        j = j + 1
    print()

    i = i + 1

 4

1111
000
11
0

# Print Number Pyramid

Problem statement
Print the following pattern for a given n.

For eg. N = 6
123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

# Functions

# Fahrenheit To Celcius Function

Problem statement
Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the table.



Note:
You don't have to write the main function or take input. It has already been taken care of and you need to just print the integer value . Just write the code that prints Fahrenheit to Celsius table in the function itself.
Formula is C = (F - 32) * 5/9

Sample Input 1:
0 
100 
20

Sample Output 1:
0   -17
20  -6
40  4
60  15
80  26
100 37

Sample Input 2:
120 
200 
40

Sample Output 2:
120 48
160 71
200 93

Explanation for Sample Output 2 :
Start value is 120, end value is 200 and step size is 40. Therefore, the values we need to convert are 120, 120 + 40 = 160, and 160 + 40 = 200. 
The formula for converting Fahrenheit to Celsius is:
Celsius Value = (5/9)*(Fahrenheit Value - 32)  
Plugging 120 into the formula, the celsius value will be (5 / 9)*(120 - 32) => (5 / 9) * 88 => (5 * 88) / 9 => 440 / 9 => 48.88
But we'll only print 48 because we are only interested in the integral part of the value.

In [61]:
def temp_covert(start, end, step ):
    f = start
    while f <= end:
        c = (5/9) * (f - 32)
        print(f, "\t", int(c))
        f = f + step
        
start = int(input())
end = int(input())
step = int(input())
temp_covert(start, end, step)

 0
 100
 20

0 	 -17
20 	 -6
40 	 4
60 	 15
80 	 26
100 	 37

In [62]:
def temp_covert(start, end, step):
    results = []
    f = start
    while f <= end:
        c = (5/9) * (f - 32)
        results.append((f, int(c)))
        f = f + step
    return results

start = int(input("Enter start temperature (F): "))
end = int(input("Enter end temperature (F): "))
step = int(input("Enter step value: "))
a = temp_covert(start, end, step)
for f, c in a:
    print(f, "\t", c)

Enter start temperature (F):  0
Enter end temperature (F):  100
Enter step value:  20

0 	 -17
20 	 -6
40 	 4
60 	 15
80 	 26
100 	 37

# Fibonacci Member

Problem statement
Create a function that determines whether a given number N belongs to the Fibonacci sequence. If N is found in the Fibonacci sequence, the function should return true; otherwise, it should return false.

In [72]:
def fibonacci(n):
    a = 0
    b = 1
    while a < n:
        a, b = b, a+ b
    return a == n
n2 = int(input())

if fibonacci(n2):
    print("true")
else:
    print("false")

 5

true

# Palindrom Number

Problem statement
Check whether a given number ’n’ is a palindrome number.

Note :
Palindrome numbers are the numbers that don't change when reversed.
You don’t need to print anything. Just implement the given function.
Example:
Input: 'n' = 51415
Output: true
Explanation: On reversing, 51415 gives 51415.

In [74]:
def is_palindrom(n):
    reverse = 0
    palindrom = n
    while n > 0:
        remainder = n % 10
        reverse = reverse * 10 + remainder
        n = n// 10
    if palindrom == reverse:
        return True
    return False
n = int(input())
if is_palindrom(n):
    print("true")
else:
    print("false")

 51415

true

# Check Armstrong

Problem statement
You are given an integer 'n'. Return 'true' if 'n' is an Armstrong number, and 'false' otherwise.


An Armstrong number is a number (with 'k' digits) such that the sum of its digits raised to 'kth' power is equal to the number itself. For example, 371 is an Armstrong number because 3^3 + 7^3 + 1^3 = 371.

Problem statement
You are given an integer 'n'. Return 'true' if 'n' is an Armstrong number, and 'false' otherwise.


An Armstrong number is a number (with 'k' digits) such that the sum of its digits raised to 'kth' power is equal to the number itself. For example, 371 is an Armstrong number because 3^3 + 7^3 + 1^3 = 371.

Detailed explanation ( Input/output format, Notes, Images )
Input Format :
The first line of the input contains an integer 'n'.


Output Format :
Return 'true' or 'false' as mentioned in the problem statement.


Note
You don't need to print anything, just implement the given function. "true" will be printed if the returned value is a boolean 'true' and "false" otherwise.

In [106]:
number = int(input())# The number whose length we want to find
counter = 0  # Initialize the counter to 0

while number > 0:  # Continue the loop while the number is greater than 0
    number = number // 10  # Divide the number by 10
    counter += 1  # Increment the counter

print("The length of the number is:", counter)

 4321

The length of the number is: 4

In [121]:
n = int(input())

counter = 0 
while n > 0 :
    n = n // 10
    counter = counter + 1
print(counter)

 32423423

8

In [127]:
def is_armstrong(n):
    original_number = n
    sum_of_powers = 0

    # Calculate the number of digits
    temp_number = n
    number_of_digits = 0
    while temp_number > 0:
        temp_number = temp_number // 10
        number_of_digits += 1

    # Calculate the sum of the powers of its digits
    temp_number = n
    while temp_number > 0:
        remainder = temp_number % 10
        sum_of_powers += remainder ** number_of_digits
        temp_number = temp_number // 10

    # Check if the sum of powers is equal to the original number
    if original_number == sum_of_powers:
        return True
    return False
print(is_armstrong(371))  # True

True

In [128]:
## Read input as specified in the question.
## Print output as specified in the question.
def armstrong(n):
    d = 0
    temp = n
    while temp > 0:
        temp = temp // 10
        d = d + 1
    arm = 0
    while n > 0:
        rem = n % 10
        arm = arm + rem ** d 
        n = n // 10
    return arm

n = int(input())
temp = n
x = armstrong(n)
if temp == x:
    print("true")
else:
    print("false")

 371

true

# Array And Lists

# Print Array Sum

Problem statement
Given an array of length N, you need to find and print the sum of all elements of the array.

Detailed explanation ( Input/output format, Notes, Images )
Input Format :
Line 1 : An Integer N i.e. size of array
Line 2 : N integers which are elements of the array, separated by spaces
Output Format :
Sum

Sample Input :
3
9 8 9
Sample Output :
26

In [ ]:
sum = 0
n = int(input())
li = [int(x) for x in input().split()]
for i in range(n):
    sum = sum + li[i]
print(sum)

In [ ]:
sum2 = 0
li = [int(x) for x in input().split()]
for i in range(len(li)):
    sum2 = sum2 + li[i]
print(sum2)

In [12]:
n = int(input())
li = []
for i in range(n):
    current_element = int(input())
    li.append(current_element)

 5
 1
 2
 3
 4
 5

In [13]:
for ele in li:
    print(ele)

1
2
3
4
5

In [14]:
for i in range(n):
    print(li[i])

1
2
3
4
5

In [15]:
print(li)

[1, 2, 3, 4, 5]

# Swap Alternate

Problem statement
You have been given an array/list(ARR) of size N. You need to swap every pair of alternate elements in the array/list.

You don't need to print or return anything, just change in the input array itself.

Detailed explanation ( Input/output format, Notes, Images )
Input Format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the elements of the resulting array in a single row separated by a single space.

Output for every test case will be printed in a separate line.

Sample Input 1:
1
6
9 3 6 12 4 32
Sample Output 1 :
3 9 12 6 32 4

Sample Input 2:
2
9
9 3 6 12 4 32 5 11 19
4
1 2 3 4
Sample Output 2 :
3 9 12 6 32 4 11 5 19 
2 1 4 3

In [17]:
n = int(input())
li = [int(x) for x in input().split()]
for i in range(0, len(li)-1, 2):
    li[i], li[i+1] = li[i + 1], li[i]
    
print(li)

 5
 1 2 3 4 5

[2, 1, 4, 3, 5]

In [21]:
def SwapAlternate(li, n):
    for i in range(0, len(li)-1, 2):
        li[i], li[i+1] = li[i + 1], li[i]
n = int(input())
li = [int(x) for x in input().split()]
SwapAlternate(li, n)
print(li)

 6
 1 2 3 4 5 6

[2, 1, 4, 3, 6, 5]

In [22]:
def SwapAlternate(li, n):
    for i in range(0, len(li)-1, 2):
        li[i], li[i+1] = li[i + 1], li[i]
        return li
n = int(input())
li = [int(x) for x in input().split()]
li = SwapAlternate(li, n)
print(li)

 6
 1 2 3 4 5 6

[2, 1, 3, 4, 5, 6]

This is useful if you want to use the modified list further without changing the original list directly.

# Reverse  A List

Write a function reverseList that takes a list of integers as input and returns a new list with the elements in reverse order. Do not use any built-in reverse functions or slicing. Instead, implement the logic manually.

In [24]:
def reverse(arr):
    length = len(arr)
    for i in range(length //2):
        arr[i], arr[length - i - 1] = arr[length - i - 1], arr[i]
li = [1,2,3,4,5,6]
reverse(li)
print(li)

[6, 5, 4, 3, 2, 1]

In [28]:
def reverseList(li):
    start = 0
    end = len(li) - 1
    while start < end:
        li[start], li[end] = li[end], li[start]
        start = start + 1
        end = end - 1
    return li

# Read input
n = int(input("Enter the number of elements: "))
li = [int(x) for x in input("Enter the elements: ").split()]

# Call the function and print the result
reversed_list = reverseList(li)
print("Reversed list:", reversed_list)

Enter the number of elements:  2
Enter the elements:  1 2 3 4 5 6

Reversed list: [6, 5, 4, 3, 2, 1]

# Linear Search

Given a list, search for the element of the list, if not found then return - 1/ "List not found"

In [33]:
li = [int(x) for x in input().split()]
target_element = int(input())
is_found = False
for i in range(len(li)):
    if li[i] == target_element:
        print([i], i)
        is_found = True
if is_found is False:
    print(-1)

 1 2 3 4 5 6
 5

[4] 4

# Linear Search Through Function

In [39]:
def linear_search(arr, ele):
    is_found = False
    for i in range(len(li)):
        if arr[i] == ele:
            return i
    return - 1
li = [1,2,3,4,5,6]
index = linear_search(li, 3)
print(index)

2

# Find Unique

Problem statement
You have been given an integer array/list(ARR) of size N. Where N is equal to [2M + 1].

Now, in the given array/list, 'M' numbers are present twice and one number is present only once.

You need to find and return that number which is unique in the array/list.

 Note:
Unique element is always present in the array/list according to the given condition.
Detailed explanation ( Input/output format, Notes, Images )
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec

Sample Input 1:
1
7
2 3 1 6 3 6 2
Sample Output 1:
1
Explanation: The array is [2, 3, 1, 6, 3, 6, 2]. Here, the numbers 2, 3, and 6 are present twice, and the number 1 is present only once. So, the unique number in this array is 1.

Sample Input 2:
2
5
2 4 7 2 7
9
1 3 1 3 6 6 7 10 7
Sample Output 2:
4
Explanation: In the first test case, the array is [2, 4, 7, 2, 7]. Here, the numbers 2 and 7 are present twice, and the number 4 is present only once. So, the unique number in this array is 4.

10
Explanation: In the second test case, the array is [1, 3, 1, 3, 6, 6, 7, 10, 7]. Here, the numbers 1, 3, 6, and 7 are present twice, and the number 10 is present only once. So, the unique number in this array is 10.

In [53]:
li = [int(x) for x in input().split()]

for i in range(len(li)):
    is_unique = True
    for j in range(len(li)):
        if i != j and li[i] == li[j]:
            is_unique = False
            break
            # If the element is unique, print it and break out of the loop
    if is_unique: 
        break
if is_unique:
    print(li[i])
else:
    print("Not found")

 3 1 2 3 4 2

1



1. **Initial Setup:**
   - Input list: `[3, 1, 2, 3, 4, 2]`
   - `li = [3, 1, 2, 3, 4, 2]`

2. **Outer Loop (`for i in range(len(li))`):**

   - **Iteration 1 (`i = 0`)**:
     - Current element: `li[0] = 3`
     - Inner loop compares `li[0]` (3) with all other elements:
       - `li[0] == li[0]` (comparison with itself, skipped)
       - `li[0] != li[1]` (3 != 1, no match)
       - `li[0] != li[2]` (3 != 2, no match)
       - `li[0] == li[3]` (3 == 3, match found with `li[3]`)
     - `is_unique` is set to `False`, breaks out of the inner loop.

   - **Iteration 2 (`i = 1`)**:
     - Current element: `li[1] = 1`
     - Inner loop compares `li[1]` (1) with all other elements:
       - `li[1] == li[0]` (1 != 3, no match)
       - `li[1] != li[1]` (comparison with itself, skipped)
       - `li[1] != li[2]` (1 != 2, no match)
       - `li[1] != li[3]` (1 == 3, match found with `li[3]`)
       - `li[1] != li[4]` (1 != 4, no match)
       - `li[1] != li[5]` (1 == 2, match found with `li[5]`)
     - `is_unique` is set to `True`, breaks out of the outer loop.

3. **Result:**
   - Since `is_unique` is `True` after the second iteration, the code prints `li[1]`, which is `1`.

### Visualization of Variables:

- **Before Execution:**
  - `li = [3, 1, 2, 3, 4, 2]`
  - `is_unique = True`

- **During Execution (Iteration 1):**
  - `i = 0`
  - `li[i] = 3`
  - Inner loop comparisons:
    - `j = 0`: `li[0] == li[0]` (skipped)
    - `j = 1`: `li[0] != li[1]` (3 != 1)
    - `j = 2`: `li[0] != li[2]` (3 != 2)
    - `j = 3`: `li[0] == li[3]` (3 == 3, duplicate found with `li[3]`)
  - `is_unique = False` (duplicate found for `li[0]`)

- **During Execution (Iteration 2):**
  - `i = 1`
  - `li[i] = 1`
  - Inner loop comparisons:
    - `j = 0`: `li[1] != li[0]` (1 != 3)
    - `j = 1`: `li[1] == li[1]` (skipped)
    - `j = 2`: `li[1] != li[2]` (1 != 2)
    - `j = 3`: `li[1] == li[3]` (1 == 3, duplicate found with `li[3]`)
    - `j = 4`: `li[1] != li[4]` (1 != 4)
    - `j = 5`: `li[1] != li[5]` (1 == 2, duplicate found with `li[5]`)
  - `is_unique = True` (no duplicates found for `li[1]`)

- **After Execution:**
  - `li = [3, 1, 2, 3, 4, 2]`
  - `is_unique = True`
  - Output: Prints `1` (first unique element found).

Summary

- In this corrected visualization, the code correctly identifies `1` as the first unique element in the list `[3, 1, 2, 3, 4, 2]`.

- It uses nested loops to compare each element with every other element in the list to determine uniqueness.
- The use of `is_unique` flag helps to break out of the loops as soon as a unique element is identified, optimizing the search process.

This step-by-step visualization clarifies how the code operates and verifies that `1` is indeed the first unique element in the provided list.

# Find Duplicate

Problem statement
You have been given an integer array/list(ARR) of size N which contains numbers from 0 to (N - 2). Each number is present at least once. That is, if N = 5, the array/list constitutes values ranging from 0 to 3 and among these, there is a single integer value that is present twice. You need to find and return that duplicate number present in the array.

Note :
Duplicate number is always present in the given array/list.
Detailed explanation ( Input/output format, Notes, Images )
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec
Sample Input 1:
1
9
0 7 2 5 4 7 1 3 6
Sample Output 1:
7

Sample Input 2:
2
5
0 2 1 3 1
7
0 3 1 5 4 3 2
Sample Output 2:
1
3

In [57]:
li = [int(x) for x in input().split()]
is_duplicate = False
for i in range(len(li)):
    is_duplicate = False
    for j in range(i+1, len(li)):
        if li[i] == li[j] :
            is_duplicate = True
            break
    if is_duplicate:
        break
        
if is_duplicate:
    print(li[i])
else:
    print("not found")

 2 3 4 2

2



li = [int(x) for x in input().split()]: Reads input from the user and stores it in a list li after converting each element to an integer.
Outer Loop (for i in range(len(li))):

Iterates through each element in the list li.
Inner Loop (for j in range(i + 1, len(li))):

Starts from i + 1 to avoid comparing the element with itself (li[i] == li[j] and i != j).
Duplicate Check:

If li[i] is equal to li[j] for any j > i, it means li[i] has a duplicate in the list.
Sets is_duplicate to True and breaks out of the outer loop if a duplicate is found.
Output:

If is_duplicate is True, prints the first duplicate element found (li[i]).
If no duplicates are found after checking all pairs, prints "not found".
Example:
For an input like 3 1 2 3 4 2, the corrected code will correctly identify the first duplicate (3 in this case) and print it.

This corrected approach ensures that the code accurately detects duplicates in the list and handles the output accordingly.

# Intersection Of Two arrays

Problem statement
You have been given two integer arrays/list(ARR1 and ARR2) of size N and M, respectively. You need to print their intersection; An intersection for this problem can be defined when both the arrays/lists contain a particular value or to put it in other words, when there is a common value that exists in both the arrays/lists.

Note :
Input arrays/lists can contain duplicate elements.

The intersection elements printed would be in the order they appear in the first array/list(ARR1)


Detailed explanation ( Input/output format, Notes, Images )
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= M <= 10^3
Time Limit: 1 sec

In [9]:
arr1 = [int(x) for x in input().split()]
arr2 = [int(x) for x in input().split()]

arr3 = [] # I have initialised arr3 as container so that when I found en elements which is an interesection, then I can Append it
is_intersection = False
for i in range(len(arr1)):
    for j in range(len(arr2)):
        if arr1[i] == arr2[j]:
            arr3.append(arr1[i])
            is_intersection = True
            break
if is_intersection:
    print(arr3)
else:
    print("not found")

 2 6 8 5 4 3
 2 3 4 7

[2, 4, 3]

In [11]:
def is_intersection(arr1, arr2):
    arr3 = []
    is_intersection = False
    for i in range(len(arr1)):
        for j in range(len(arr2)):
            if arr1[i] == arr2[j]:
                arr3.append(arr1[i])
                is_intersection = True
                break
    return arr3
a = [int(x) for x in input().split()]
b = [int(x) for x in input().split()]
result = is_intersection(arr1, arr2)
print(result)

 2 6 8 5 4 3
 2 3 4 7

[2, 4, 3]

In [16]:
import sys

def intersections(arr1, n, arr2, m) :
    #Your code goes here
    for i in range(n):
        for j in range(m):
            if arr1[i]==arr2[j]:
                print(arr1[i],end=" ")
                arr2[j]=-1
                break

    return -1

# Pair Sum

Problem statement
You have been given an integer array/list(ARR) and a number X. Find and return the total number of pairs in the array/list which sum to X.

Note:
Given array/list can contain duplicate elements. 
Detailed explanation ( Input/output format, Notes, Images )
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= X <= 10^9
Time Limit: 1 sec

Sample Input 1:
1
9
1 3 6 2 5 4 3 2 4
7
Sample Output 1:
7
Sample Input 2:
2
9
1 3 6 2 5 4 3 2 4
12
6
2 8 10 5 -2 5
10
Sample Output 2:
0
2


 Explanation for Input 2:
Since there doesn't exist any pair with sum equal to 12 for the first query, we print 0.

For the second query, we have 2 pairs in total that sum up to 10. They are, (2, 8) and (5, 5).

In [ ]:
arr = [int(x) for x in input().split()]
number_sum = int(input())
number_of_pairs = 0
for i in range(len(arr)):
    for j in range(i + 1, len(arr)):
        if arr[i] + arr[j] == number_sum:
            number_of_pairs = number_of_pairs + 1
            #break
print(number_of_pairs)

In [ ]:
def pair_sum(arr, x):
    number_of_pairs = 0
    for i in range(len(arr)):
        for j in range(i + 1, len(arr)):
            if arr[i] + arr[j] == x:
                number_of_pairs = number_of_pairs + 1
    return number_of_pairs
arr1 = [int(x) for x in input().split()]
result = pair_sum(arr, 7)
print(result)

# Triplet Sum

Problem statement
You have been given a random integer array/list(ARR) and a number X. Find and return the number of triplets in the array/list which sum to X.

Note :
Given array/list can contain duplicate elements.
Detailed explanation ( Input/output format, Notes, Images )
Constraints :
1 <= t <= 50
0 <= N <= 10^2
0 <= X <= 10^9
Time Limit: 1 sec
Sample Input 1:
1
7
1 2 3 4 5 6 7 
12
Sample Output 1:
5
Sample Input 2:
2
7
1 2 3 4 5 6 7 
19
9
2 -5 8 -6 0 5 10 11 -3
10
Sample Output 2:
0
5


 Explanation for Input 2:
Since there doesn't exist any triplet with sum equal to 19 for the first query, we print 0.

For the second query, we have 5 triplets in total that sum up to 10. They are, (2, 8, 0), (2, 11, -3), (-5, 5, 10), (8, 5, -3) and (-6, 5, 11)

In [2]:
arr = [int(x)for x in input().split()]
number_to_be_sum = int(input())
number_of_pairs = 0
for i in range(len(arr)):
    for j in range(i + 1, len(arr)):
        for k in range(j + 1, len(arr)):
            if arr[i] + arr[j] + arr[k] == number_to_be_sum:
                number_of_pairs = number_of_pairs + 1
print(number_of_pairs)

 1 2 3 4 5 6 7
 12

5

In [ ]:
def find_triplet(arr, n, x):
    number_of_pairs = 0
    for i in range(len(arr)):
        for j in range(i + 1, len(arr)):
            for k in range(j + 1, len(arr)):
                if arr[i] + arr[j] + arr[k] == x:
                    number_of_pairs = number_of_pairs + 1
    return number_of_pairs

# Sort 0 And 1

Problem statement
You have been given an integer array/list(ARR) of size N that contains only integers, 0 and 1. Write a function to sort this array/list. Think of a solution which scans the array/list only once and don't require use of an extra array/list.

Note:
You need to change in the given array/list itself. Hence, no need to return or print anything. 
Detailed explanation ( Input/output format, Notes, Images )
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1 sec
Sample Input 1:
1
7
0 1 1 0 1 0 1
Sample Output 1:
0 0 0 1 1 1 1
Sample Input 2:
2
8
1 0 1 1 0 1 0 1
5
0 1 0 1 0
Sample Output 2:
0 0 0 1 1 1 1 1
0 0 0 1 1

In [13]:
arr = [0, 1, 1, 0, 1]
temp = 0
for i in range(len(arr)):
    if arr[i] == 0:
        arr[i], arr[temp] = arr[temp], arr[i]
        temp = temp + 1
print(arr)

[0, 0, 1, 1, 1]

In [ ]:
def sort(arr, n):
    temp = 0
    for i in range(len(arr)):
        if arr[i] == 0:
            arr[i], arr[temp] = arr[temp], arr[i]
            temp = temp + 1
    return arr

# Push Zeros To End

Problem statement
You have been given a random integer array/list(ARR) of size N. You have been required to push all the zeros that are present in the array/list to the end of it. Also, make sure to maintain the relative order of the non-zero elements.

Note:
Change in the input array/list itself. You don't need to return or print the elements.

You need to do this in one scan of array only. Don't use extra space.

Sample Input 1:
1
7
2 0 0 1 3 0 0
Sample Output 1:
2 1 3 0 0 0 0
 Explanation for the Sample Input 1 :
All the zeros have been pushed towards the end of the array/list. Another important fact is that the order of the non-zero elements have been maintained as they appear in the input array/list.
Sample Input 2:
2
5
0 3 0 2 0
5
9 0 0 8 2
Sample Output 2:
3 2 0 0 0
9 8 2 0 0

In [ ]:
arr = [int(x) for x in input().split()]
non_zero = 0
for i in range(len(arr)):
    if arr[i] != 0:
        arr[i], arr[non_zero] = arr[non_zero], arr[i]
        non_zero = non_zero + 1
print(arr)

In [5]:
def pushZerosAtEnd(arr) :
    non_zero = 0
    for i in range(len(arr)):
        if arr[i] != 0:
            arr[i], arr[non_zero] = arr[non_zero], arr[i]
            non_zero = non_zero + 1
    return arr


li = [int(x) for x in input().split()]
result = pushZerosAtEnd(li)
print(result)

 2 0 0 1 3 0 0

[2, 1, 3, 0, 0, 0, 0]